.handsontable {
  border-color: #2b353d;
}

.xltable__override table {
  background-color: #20272d;
}

.xltable__override td, th {
  background-color: #2b353d;
  color: #839aac;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .9rem;
  font-weight: 100;
  padding: 1rem;
}